/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #F58DA6;
  --color-dark-pink: #fd8f8b;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #60B3F7;
  --color-yellow: #fff7d1;
  --color-orange: #E88B4A;
  --color-black: #000000;
  --color-purple: #bdbdf7;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 24px;
  --font-small: 18px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 5px;

  /* Animation */
  --animation-duration: 300ms;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

body {
  cursor: default;
  font-family: 'Poor Story', cursive;
  letter-spacing: 1px;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: 'Poor Story', cursive;
  letter-spacing: 1px;
}


/* Home-Container */
.home-container {
  background-image: url("/img/bg.png");
  background-size: cover;
  background-position-y: bottom;
  min-height: 100vh;
}


/* Header */
.nav {
  margin-right: 50px;
  position: fixed;
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  z-index: 99;
  transition: all var(--animation-duration) ease-in-out;
}
.nav.nav-dark {
  background-color: #F9CBC9;
}
.nav .logo {
  display: flex;
  min-width: 350px;
}
.nav .logo img {
  width: 80px;
  height: 80px;
  margin: 15px 20px;
}
.nav .logo a {
  font-size: var(--font-medium);
  line-height: 110px;
}
.nav ul {
  display: flex;
  justify-content: flex-end;
}
.nav ul li {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
  font-size: var(--font-small);
}
.nav ul li.active {
  border: 1px solid var(--color-white);
}
.nav ul li:hover {
  background-color: var(--color-pink);
  border: 1px solid var(--color-white);
}
.toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  text-align: center;
  color: var(--color-white);
  padding-top: 100px;
}
#home .img-box {
  width: 400px;
  margin: 0 auto;
}
#home .img-3d {
  position: relative;
  height: 400px;
  perspective: 600px;
}
#home .img-3d .front img,
#home .img-3d .back img{
  backface-visibility: hidden;
  transition: 1s;
}
#home .img-3d .front img {
  width: 250px;
  border-radius: 30%;
  border: 2px solid var(--color-pink);
  margin: 50px 0 20px 0;
  position: absolute;
  transform: rotateY(0deg);
  left: 50%;
  margin-left: -125px;

}
#home .img-3d:hover .front img {
  transform: rotateY(180deg);
}
#home .img-3d .back img {
  width: 400px;
  height: 300px;
  transform: rotateY(-180deg);
  margin: 55px 0 20px 0;
  position: absolute;
  left: 50%;
  margin-left: -200px;
}
#home .img-3d:hover .back img {
  transform: rotateY(0deg);
}
#home h1 {
  letter-spacing: 2px;
}
#home p {
  letter-spacing: 2px;
  font-size: var(--font-medium);
  margin: 10px 0;
}
#home button {
  border-radius: var(--size-border-radius);
  font-size: var(--font-micro);
  border: 1px solid var(--color-white);
  padding: 8px 12px;
  margin: 20px 0;
  color: var(--color-white);
}
#home button:hover {
  background-color: var(--color-purple);
}


/* About */
#about {
  min-height: 100vh;
  border-top: 1px solid var(--color-pink);
  text-align: center;
  padding: 50px;
}
#about h1 {
  font-size: var(--font-large);
  margin-bottom: 24px;
  color: var(--color-dark-grey);
}
#about ul li {
  font-size: var(--font-small);
  line-height: 40px;
  color: var(--color-blue);
}
#about ul li span {
  color: var(--color-pink);
}
.about-majors {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 80px auto;
}
.major {
  margin: 0 70px;
}
.major-icon {
  width: 170px;
  height: 170px;
  line-height: 170px;
  font-size: 100px;
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major-icon i.fa-html5 {
  color: var(--color-orange);
  margin-top: 35px;
}
.major-icon i.fa-database {
  color: var(--color-blue);
  margin-top: 33px;
}
.major-title,
.major-description {
  color: var(--color-dark-grey);
  
}
.major-title {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 15px 0;
}
.major-description {
  font-size: var(--font-small);
}


/* Skills */
#skills {
  height: 100vh;
  border-top: 1px solid var(--color-pink);
  background-color: var(--color-yellow);
  text-align: center;
  padding: 50px;
}
#skills h1 {
  font-size: var(--font-large);
  margin-bottom: 24px;
  color: var(--color-dark-grey);
}
.skill-box {
  display: flex;
  margin-top: 50px;
  color: var(--color-dark-grey);
}
.skill-left {
  flex-basis: 60%;
  background-color: #d0d0fd;
  padding: 20px 40px;
}
.skill {
  margin-bottom: 8px;
}
.skill-description {
  display: flex;
  justify-content: space-between;
}
.skill-bar {
  width: 100%;
  height: 3px;
  background: var(--color-light-white);
}
.skill-bar .skill-value {
  height: 3px;
  background-color: var(--color-dark-pink);
}
.skill-right {
  flex-basis: 40%;
}
.skill-right .tools,
.skill-right .etc {
  padding: 20px;
}
.skill-right .tools {
  background-color: #ffbab8;
}
.skill-right .etc {
  background-color: #b9dfff;
}


/* Projects */
#projects {
  min-height: 100vh;
  border-top: 1px solid var(--color-pink);
  text-align: center;
  padding: 50px;
}
#projects h1 {
  font-size: var(--font-large);
  margin-bottom: 24px;
  color: var(--color-dark-grey);
}
.project-menu {
  margin: 48px;
}
.project-btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  padding: 8px 48px;
  font-size: var(--font-small);
}
.project-btn.active,
.project-btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.project-btn.active .menu-count,
.project-btn:hover .menu-count {
  opacity: 1;
  top: 0;
}
.menu-count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.my-project {
  max-width: 1259px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
.my-project.ani-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}
.project {
  position: relative;
  width: 300px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.project.invisible {
  display: none;
}
.project-img {
  max-width: 100%;
  max-height: 100%;
}
.project-description {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 2px;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project-description {
  opacity: 0.7;
  transform: translateY(0px);
}
.project-description h3::after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background-color: var(--color-dark-white);
  position: relative;
  left: 50%;
  margin-left: -20px;
  margin-top: 8px;
}


/* Contact */
#contact {
  height: 350px;
  border-top: 1px solid var(--color-pink);
  text-align: center;
  padding: 25px 50px 15px;
  background-color: #e4e4ff;
  font-size: var(--font-small);
  color: var(--color-dark-grey);
  position: relative;
}
#contact h1 {
  font-size: var(--font-medium);
  margin-bottom: 24px;
  color: var(--color-dark-grey);
}
.email,
.github,
.blog {
  margin: 16px 0;
}
.copyright {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -161px;
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  color: var(--color-dark-pink);
  opacity: 0;
  transition: all 300ms ease-in;
  cursor: pointer;
  pointer-events: none;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}





/* Media Query */
@media screen and (max-width: 768px) {
  .toggle-btn {
    display: block;
    line-height: 110px;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav {
    width: 100%;
  }
  .navbar.active {
    display: block;
  }
  .nav ul {
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .home .img-box {
    width: 300px;
    height: 400px;
  }
  .about-majors {
    flex-wrap: wrap;
    width: auto;
    display: flex;
    justify-content: center;
  }
  .major {
    margin-bottom: 30px;
  }
}